<h1>Sample App</h1>
<p>
	This is the home page for the
	<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
	sample application.
</p>
<%= link_to "Help", '/static_pages/help' %>
<%= link_to "Contact", 'static_pages/contact' %>
<%= link_to "About Us", 'static_pages/about' %>